*~

CMakeFiles
CMakeCache.txt
Makefile
cmake_install.cmake

CPackConfig.cmake
CPackSourceConfig.cmake
install_manifest.txt
_CPack_Packages

skizzle
*.deb

*.aux
*.bbl
*.blg
*.out
*.toc
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
